/var/lib/bareos
/dev
/media
/mnt
/proc
/sys
/tmp
/var/cache
/var/tmp
/var/lib/mongodb
/var/lib/mysql
/var/lib/postgresql
/var/lib/redis
/var/lib/solr
/var/lib/elasticsearch
/var/spool/postfix
/var/www
/VMs
/.journal
/.fsck
/zpve
