{% if 'duplicity' in backup_services %}
alias duplicityls='source /etc/duplicity/duplicity.cnf && duplicity collection-status --name {{ duplicity_backup_name }} --archive-dir={{ duplicity_archive_dir }} "{{ duplicity_s3_path }}"'
{% endif %}
